@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:target:before {
  content: '';
  display: block;
  height: 150px; /* fixed header height*/
  margin: 150px 0 0; /* negative fixed header height */
}

.contact-me:before {
  height: 0;
}

a:hover {
  text-decoration: none !important;
}

body {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, #ffffff 0%, #d0d0d0 100%);
  overflow: overlay;
  overflow-x: hidden;
}

.section {
  transition: all ease 2s;
  animation-name: reveal;
  transform: translateY(0);
  opacity: 1;
}

.section:not(.contact-me) {
  margin: 200px 0;
}

.reveal {
  opacity: 0;
  transition: all ease 1s;
  transform: translateY(100px);
}

.hero {
  height: 100vh;
  font-family: 'Bebas neue', cursive;
  animation-name: reveal;
  animation-duration: 2s;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero .circle img {
  display: block;
  margin: auto;
  padding-top: 15vh;
}

.hero .circle {
  z-index: 0;
  height: 800px;
  width: 800px;
  border-radius: 100%;
  position: absolute;
  background: rgb(188, 255, 255);
  background: rgb(197, 222, 227);
  background: radial-gradient(circle, rgba(197, 222, 227, 1) 0%, #8dbbc5 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.hero nav {
  padding: 100px 150px;
  display: flex;
  justify-content: space-between;
  color: #4b4e53;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 500;
}

.hero .nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.hero .nav-bar ul {
  list-style: none;
  text-align: center;
}

.hero .nav-bar ul li {
  margin-top: 15px;
}

.hero .nav-bar ul a {
  color: #4b4e53;
  text-decoration: none;
}

.hero .hire a {
  color: #ebebeb;
  text-decoration: none;
  letter-spacing: 3px;
  background-color: rgb(41, 41, 41);
  padding: 12px 25px;
  border-radius: 2000px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

.hero .hire a:hover {
  background-color: #8dbbc5;
  transition: 0.2s;
}

.bottom {
  position: absolute;
  bottom: 100px;
  margin-left: 150px;
  color: #4b4e53;
  display: flex;
  justify-content: space-between;
  width: 86%;
}

.bottom h1 {
  font-weight: 500;
  font-size: 80px;
  font-style: italic;
}

.bottom h5 {
  font-size: 18px;
  font-weight: 100;
}

.view {
  position: relative;
  right: 0;
  display: flex;
  align-items: center;
}

.view i {
  color: #8dbbc5;
}

.view a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view h3 {
  display: inline;
  padding-right: 15px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 12px;
  color: #4b4e53;
}

.view h3:hover {
  text-decoration: none;
}

.view img {
  width: 35px;
  height: 35px;
  -webkit-transition-duration: 1s;
  transition-duration: 0.7s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.view img:hover,
.view img:focus,
.view img:active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.about-me {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-me h4 {
  font-family: 'Bebas neue', cursive !important;
  text-align: center;
  color: #8dbbc5;
  font-size: 60px;
  font-style: italic;
}

.about-me span {
  color: #4b4e53;
}

.about-me .right-side {
  display: inline;
  width: 100%;
  padding: 60px;
}

.about-me .right-side h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #232322;
  font-weight: bold;
}

.about-me .right-side h5 span {
  color: #8dbbc5;
  font-size: 1.8rem;
}

.about-me .right-side p {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 22px;
  padding-top: 20px;
  font-weight: 300;
}

.about-me .right-side p span {
  font-weight: 500;
}

.about-me .right-side a {
  color: #232322;
  font-weight: 600;
}

.about-me .right-side i {
  font-size: 2.5rem;
  padding: 0 0.3rem;
  margin-top: 1.5rem;
}

.html {
  color: #f1652a;
}

.css {
  color: #008fd5;
}

.sass {
  color: #ce679a;
}

.js {
  color: #e2cf50;
}

.bootstrap {
  color: #634091;
}

.react {
  color: #61dbfb;
}

.wordpress {
  color: #21759b;
}

.about-me .left-side img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.about-me .flex {
  align-items: center;
}

.services {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services p {
  font-family: 'Poppins', cursive;
}

.services h4 {
  font-family: 'Bebas neue', cursive !important;
  text-align: center;
  color: #8dbbc5;
  font-size: 60px;
  font-style: italic;
  margin-bottom: 40px;
}

.padd {
  padding-top: 40px;
}

.services .service-card {
  color: #232322;
  padding: 50px;
  transition: all 0.15s ease-in-out;
  border: 0;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #ececec, -20px -20px 60px #f4f4f4;
  cursor: default;
}

.services .service-card h5 {
  font-family: 'Poppins', cursive;
  color: #232322;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.services .service-card i {
  margin-bottom: 25px;
}

.services h4 span {
  color: #4b4e53;
}

.services .second-row {
  margin-top: 50px;
  margin-bottom: 100px;
}

projects ul {
  list-style: none;
}

.my-projects a {
  text-decoration: none;
}

.my-projects .containerr {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins';
}

.my-projects h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-style: italic;
  font-family: 'Bebas neue';
  color: #4b4e53;
  font-size: 60px;
  margin-bottom: -50px;
}

.my-projects span {
  color: #8dbbc5;
}

.my-projects .box {
  width: 333px;
  height: 610px;
  background-color: #232323;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 20px;
  margin-left: 50px;
  z-index: 1000;
}

.my-projects .details p {
  color: #cfdbd5;
  padding: 15px 5px 10px 5px;
  text-align: justify;
  font-weight: 300;
}

.my-projects p span {
  font-weight: bold;
}

.my-projects .details {
  padding: 5px 20px 5px 20px;
}

.my-projects .project {
  background-color: rgba(35, 35, 34, 0.5);
  border-bottom: 1px solid #232323;
  padding: 10px 15px 10px 15px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.my-projects .title {
  color: #fff;
}

.title span {
  color: #8dbbc5;
}

.my-projects img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#projects {
  text-decoration: none;
}

.contact-me {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 850px;
}
.contact-me h4 {
  font-family: 'bEbas neue', cursive !important;
  text-align: center;
  color: #4b4e53;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 60px;
  font-style: italic;
}

.contact-me span {
  color: #8dbbc5;
}

.contact-me .left-side {
  font-family: 'Poppins', sans-serif;
  display: inline;
  width: 100%;
  padding: 50px 28px 0 28px;
}

.contact-me .left-side h2 {
  color: #232322;
  font-weight: 600;
}

.contact-me .left-side p {
  font-weight: 300;
  font-size: 22px;
  color: #232322;
}

.contact-me .left-side .info {
  margin-top: 40px;
}

.contact-me .left-side .info .icon {
  height: 23px;
  width: 23px;
  margin-left: 20px;
}

.contact-me .left-side .info p {
  font-size: 16px;
  font-weight: bold;
}

.location p,
.mail p,
.phone p {
  display: inline;
}

.location,
.phone {
  margin-bottom: 12px;
}

.mail {
  margin-bottom: 25px;
}

.contact-me .left-side .social .icon {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.icon {
  -webkit-transition-duration: 1s;
  transition-duration: 0.7s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #232322;
}
.icon:hover,
.icon:focus,
.icon:active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.contact-me .left-side .social {
  margin-top: 40px;
}

.contact-me .left-side .social img {
  margin-bottom: 15px;
}

.contact-me .right-side {
  padding: 50px;
  color: #232322;
}

.contact-me .right-side form input#subject {
  display: block;
  width: 100%;
}

.contact-me .right-side form button {
  color: #232322;
  text-decoration: none;
  letter-spacing: 3px;
  background-color: #8dbbc5;
  padding: 12px 25px;
  border-radius: 2000px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Bebas Neue' !important;
  border: 0;
}

.contact-me .right-side form button:hover {
  background-color: #d3d3d3;
  transition: 0.2s;
  color: rgb(41, 41, 41);
}

.contact-me .right-side #name,
.contact-me .right-side #email {
  display: inline-block;
  width: 100%;
}

.contact-me .right-side #comment {
  display: block;
}

.contact-me .right-side form input {
  background-color: #f9f9f9;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 32px;
  padding-left: 12px;
  margin-bottom: 20px;
  outline: 0;
}

.contact-me .right-side form label {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-left: 15px;
  font-weight: 300;
}

.both {
  align-items: center;
}

.contact-me .right-side form textarea {
  background-color: #f9f9f9;
  border: 1px solid transparent;
  border-radius: 19px;
  width: 100%;
  padding-left: 12px;
  padding-top: 12px;
  margin-bottom: 22px;
  outline: 0;
}

.contact-me .right-side form textarea::placeholder {
  color: #232322;
}

label {
  margin: 0 !important;
}

footer {
  background-color: #232322;
  color: #f5cb5c;
  padding: 100px 0;
  font-weight: bold;
  margin-top: 60px;
}

footer .copy {
  margin-top: 12px;
  color: #717171;
  text-align: center;
  display: block !important;
}

footer .copy h6 {
  font-size: 14px;
}

footer .copy a {
  color: #8dbbc5 !important;
  text-decoration: none;
  padding: 0 !important;
}

footer .copy a:hover {
  color: #979a91 !important;
  transition: 0.2s;
}

footer .linknav a {
  text-decoration: none;
  color: rgb(220 220 220);
  letter-spacing: 1px;
  padding: 15px 20px;
}

footer .linknav .footer-logo {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

footer .linknav a:hover {
  text-decoration: none;
  color: #8dbbc5;
  transition: 0.2s;
}

footer .linknav {
  text-align: center;
  font-size: 18px;
}

footer .linknav a {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 100;
}

footer .social i {
  width: 30px;
  margin: 25px 0 10px 0;
  padding: 0 !important;
  color: #717171;
}

footer .linknav .social a {
  padding: 10px;
}

footer .linknav .social img {
  padding: 10px;
  margin-bottom: 5px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #232323;
  border-radius: 500px;
}

@media only screen and (max-width: 1350px) {
  .hero .circle {
    width: 400px;
    height: 400px;
  }

  .hero .circle img {
    width: inherit;
    padding-top: 3vh;
    padding-left: 20px;
  }

  .view h3 {
    font-size: 20px;
  }

  .bottom {
    bottom: 19px;
    margin-left: 21px;
  }

  .bottom h1 {
    font-size: 50px;
  }

  .bottom h5 {
    font-size: 15px;
  }

  .hero nav {
    padding: 27px 13px;
  }

  .about-me {
    height: 100%;
  }

  .about-me .right-side {
    padding: 30px;
  }

  .services {
    height: 100%;
    padding-top: 70px;
  }

  .contact-me .left-side {
    padding: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .about-me .left-side {
    display: none;
  }

  .about-me .right-side,
  .services .col-md-4 {
    max-width: 100%;
    flex: 1;
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }

  .services .col-md-4 {
    flex: unset;
  }

  .portrait {
    display: none;
  }

  .my-projects {
    padding-top: 100px;
  }

  .my-projects .display {
    display: block !important;
  }

  .about-me {
    height: 1250px;
  }

  .about-me .right-side p {
    text-align: justify;
  }
  .progressholder {
    margin-bottom: 67px;
    margin-top: 63px;
  }

  .contact-me {
    height: 140vh;
  }

  footer {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 400px;
  }

  .hero-txt {
    margin-top: 171px;
  }

  .hero-txt a,
  .hero-txt {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
    text-align: center;
  }

  .hero-txt p {
    margin-bottom: 21px;
  }

  .hero-txt h1 {
    font-size: 61px;
  }

  .hero-txt h1 {
    font-size: 47px;
  }

  .hero-txt .quote {
    display: inline-block;
    font-size: 26px;
  }

  .hero nav {
    padding: 27px 13px;
  }

  .contact-me .left-side .social {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .contact-me .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-me .left-side .info,
  .contact-me .left-side .social {
    margin-right: 2rem;
  }

  .hero .circle img {
    width: inherit;
    padding-top: 3vh;
    padding-left: 20px;
  }

  .hero .circle {
    width: 350px;
    height: 350px;
  }

  .view h3 {
    font-size: 20px;
  }

  .bottom {
    bottom: 19px;
    margin-left: 21px;
  }

  .bottom h1 {
    font-size: 50px;
  }

  .bottom h5 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    padding-bottom: 0;
  }

  .about-me .right-side i {
    font-size: 2rem;
  }

  .hero .circle img {
    width: inherit;
    padding-top: 3vh;
    padding-left: 20px;
  }

  .hero .circle {
    width: 220px;
    height: 220px;
  }

  .view h3 {
    font-size: 15px;
  }

  .bottom {
    bottom: 46px;
    margin-left: 21px;
  }

  .bottom h1 {
    font-size: 36px;
  }

  .bottom h5 {
    font-size: 13px;
  }

  .hero nav {
    font-size: 14px;
  }

  .hero .nav-bar ul li {
    margin-top: 5px;
  }

  .hero .hire a {
    font-size: 12px;
    padding: 8px 17px;
  }

  .view img {
    width: 25px;
    height: 25px;
  }

  .about-me {
    height: 1000px;
  }

  .about-me h4 {
    font-size: 50px;
    padding: 0;
  }

  .about-me .right-side h5 {
    font-size: 1.8rem;
  }

  .about-me .right-side h5 span {
    font-size: 1.3rem;
  }

  .about-me .right-side p {
    font-size: 18px;
    text-align: justify;
  }

  .about-me .right-side {
    padding: 0 2rem;
  }

  .my-projects {
    padding: 0;
  }

  .my-projects h1 {
    margin-bottom: -200px;
    font-size: 50px;
  }

  .my-projects .containerr {
    margin-top: 220px;
  }

  .contact-me h4 {
    font-size: 50px;
  }

  .contact-me .left-side {
    padding: 20px;
  }

  footer {
    margin-top: 500px;
  }
}

@media only screen and (max-width: 440px) {
  .about-me .right-side i {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 350px) {
  .hero {
    padding-bottom: 0;
    height: 110vh;
  }

  .about-me .right-side i {
    font-size: 1.5rem;
  }

  .about-me .right-side {
    padding: 0 3rem;
  }

  .about-me .right-side h5 span {
    font-size: 1rem;
  }

  .hero .circle img {
    width: inherit;
    padding-top: 3vh;
    padding-left: 20px;
  }

  .hero .circle {
    width: 220px;
    height: 220px;
  }

  .view h3 {
    font-size: 15px;
  }

  .bottom {
    bottom: 19px;
    margin-left: 21px;
  }

  .bottom h1 {
    font-size: 36px;
  }

  .bottom h5 {
    font-size: 13px;
  }

  .hero nav {
    font-size: 14px;
  }

  .hero .nav-bar ul li {
    margin-top: 5px;
  }

  .hero .hire a {
    font-size: 12px;
    padding: 8px 17px;
  }

  .view img {
    width: 25px;
    height: 25px;
  }

  .about-me {
    height: 1000px;
  }

  .about-me h4 {
    font-size: 50px;
    padding: 0;
  }

  .about-me .right-side h5 {
    font-size: 22px;
  }

  .about-me .right-side p {
    font-size: 18px;
    text-align: justify;
  }

  .about-me .right-side {
    padding: 0 20px;
  }

  .my-projects {
    padding: 0;
    height: 110vh;
  }

  .my-projects h1 {
    margin-bottom: 30px;
  }

  #progressbar {
    margin-right: 30px;
    margin-left: 30px;
  }

  .services {
    height: 300vh;
  }
}

@media only screen and (min-width: 1200px) {
  /* TODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO:BLUR NA USLUGAMATODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO:TODO: */
}
